* {
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 1rem 2rem;
  background-image: linear-gradient(to bottom right, #6351a1, #a990fb);
  height: 100vh;
  width: 100%;
}
